<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  
  <%= stylesheet_link_tag "http://yui.yahooapis.com/combo?pure/0.3.0/base-min.css&pure/0.3.0/grids-min.css&pure/0.3.0/forms-min.css&pure/0.3.0/buttons-min.css", "application" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Londrina+Solid" %>
  
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>

</head>
<body>
  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <header class="page-header">

    <div class="inner-page-header">

      <div class="pure-g">

        <div class="pure-u-2-5">

          <img src="images/mug-blue.png">

        </div>

        <div id="page-header-text" class="pure-u-3-5">

          <h1>MUGSHOTS!</h1>

          <h2 class="pure-hidden-phone">Fueling industry via caffeine since some time in the past!</h2>

        </div>

      </div>

    </div>

  </header>

  <%= yield %>

</body>
</html>
